development:
  meetup_api_key: 'fake_key'
  twitter_consumer_key: 'fake_key'
  twitter_consumer_secret: 'fake_key'
  twitter_access_token: 'fake_key'
  twitter_access_secret: 'fake_key'

test:
  meetup_api_key: 'fake_key'
  twitter_consumer_key: 'fake_key'
  twitter_consumer_secret: 'fake_key'
  twitter_access_token: 'fake_key'
  twitter_access_secret: 'fake_key'

production:
  meetup_api_key: 'fake_key'
  twitter_consumer_key: 'fake_key'
  twitter_consumer_secret: 'fake_key'
  twitter_access_token: 'fake_key'
  twitter_access_secret: 'fake_key'
